.DS_Store
.docker-compose.yml.un~
.python-requirements.txt.un~
docker-compose.yml~
*TEMP_DO_NOT_EDIT.txt
.vscode/

# BAGS
rb_ws/bags
rb_ws/src/buggy/bags/
*.bag
rb_ws/rosbag2*/
*/rosbags/

# VISION
.vision/
vision/data/

#VENV
.sc/
.nand/
.venv/

# BUILD
build/
install/
log/
